<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
      <%= yield %>
     <div class="parent">
        <div class="child">
          <h1>Musk Effect</h1>
          <h2>Coming soon</h2>
      </div>
    </div>
  </body>
</html>
